*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root{
    --p--white: #fff;
    --p--Main: #003147;
}

body{
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #003147;
    overflow: hidden;
    transition: 0.3s;
}

.navigation.active{
    width: 85px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.hovered{
    color: red;
}

.navigation ul li:hover{
    background-color: #fff;
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: #003147;
}

.navigation ul li:nth-child(1):hover a{
    color: #fff;
}

.navigation ul li:nth-child(1):hover a::before{
    content: unset;
    position: unset;

}
.navigation ul li:nth-child(1):hover a::after{
    content: unset;
    position: unset;
}

.navigation ul li a:nth-child(1):hover .icon .fa{
    color: unset;
}


.navigation ul li:nth-child(1):hover{
    background-color: transparent;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    color: #fff;
    font-size: 24px;
}

.navigation ul li a:hover .icon .fa{
    color: #003147;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 60px;
    white-space: nowrap;
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--p--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--p--white);
    pointer-events: none;
}

/* .hovered{
    font-size: 30px;
} */


.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: var(--p--white);
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 80px);
    left: 100px;
}

 .topbar{
    /* width: 100%; */
    width: calc(100% - 300px);
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid #999;
    color: #999;
}

.search label i{
    position: absolute;
    top: -2px;
    left: 10px;
    font-size: 1.2em;
    color: #999;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* card box */
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4,1fr);
}

.cardBox .card{
    position: relative;
    background: var(--p--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    /* color: rgba(0, 0, 255, 0.867); */
    color: #003147;
}

.cardBox .card .cardName{
    color: #777;
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBX{
    font-size: 3.5em;
    color: #777;
}

.cardBox .card:hover{
    /* background-color: rgba(0, 0, 255, 0.867); */
    background-color: #003147;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBX{
    color: var(--p--white);
}

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;  
    grid-gap: 30px;
}

.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 500px; 
    background-color: var(--p--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    /* padding: 5px 10px; */
    color: var(--p--Main);
    text-decoration: none;
    /* color: var(--p--white); */
    border-radius: 6px;
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--p--Main);
    color: var(--p--white);
    border-radius: 6px;
    text-decoration: none;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

 .details .recentOrders table tr{
    color: #111;
    border-bottom: 1px solid rgba(0,0,0,01);
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tbody tr:hover{
    background-color: var(--p--Main);
    color: var(--p--white) ;
}

.details .recentOrders table tr td{
    padding: 10px;
}

.details .recentOrders table tr td:last-child{
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2), 
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}

.status{
    padding: 2px 6px;
    color: var(--p--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500px;
}

.status.delivered {
    background: #Bde02c;
}

.status.pending {
    background: #f9ca3f;
}

.status.return {
    background: #f00;
}

.status.inProgress{
    background: #1795ce;
}

/* card box */

/* recent customers */
.recentCustomers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 2px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr td{
    padding: 12px 10px;
}

.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.2em;
}

.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: #999;
}

.recentCustomers table tr:hover{
    background: var(--p--Main);
    color: var(--p--white);
}

.recentCustomers table tr:hover td h4 span{
    color: var(--p--white);
}

/* recent customers */


@media screen and (max-width: 991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
